@{
    Layout = "Admin/_MyLayout";
}

@model Pizza

<div class="container py-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">

            @if (User.IsInRole("ADMIN"))
            {
                <div class="card">
                    @* immagine *@
                    <img src="@Model.PathImage" class="card-img-top" alt="@Model.Name">

                    <div class="card-body">
                        @* nome *@
                        <h5 class="card-title">@Model.Name</h5>
                        @* descrizione *@
                        <p class="card-text">@Model.Description</p>
                        @* prezzo *@
                        <p class="card-text">Prezzo: $@Model.Price $</p>
                        @* categoria *@
                        <p class="card-text">
                            Categoria:
                            @if (Model.Category != null)
                            {
                                <span>@Model.Category.Name</span>
                            }
                            else
                            {
                                <span>Nessuna categoria</span>
                            }
                        </p>
                        @* ingredienti *@
                        @if (Model.Ingredients != null && Model.Ingredients.Count > 0)
                        {
                            <strong>Ingredienti:</strong>
                            <ul>
                                @foreach (Ingredient ingredient in Model.Ingredients)
                                {
                                    <li>@ingredient.Name</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>Nessun ingrediente presente</span>
                        }
                    </div>
                </div>
            }
            else
            {
                <div>Non hai le autorizzazioni necessarie per visitare questa pagina</div>
            }

        </div>
    </div>
    <div class="py-3 d-flex justify-content-center">
        <a class="btn btn-warning" href="/Pizza/Index">Torna alla Home</a>
    </div>
</div>