@{
    Layout = "Admin/_MyLayout";
}

@model List<Pizza>

@if (Model.Count() == 0)
{
    <div><strong>Non risultano pizze da mostrare</strong></div>
}
else
{
    <div class="container">

        <div class="row">

            <div class="col-12">

                <h1 class="py-5 text-uppercase">Pizzas List</h1>

                <table class="table table-dark table-hover table-bordered caption-top">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price $</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Pizza pizza in Model)
                        {
                            <tr>
                                <th scope="row">@pizza.Id</th>
                                <td><img src="@pizza.PathImage" width="100" /></td>
                                <td>@pizza.Name</td>
                                <td>@pizza.Description</td>
                                <td>@pizza.Price $</td>
                                <td>
                                    <a class="btn btn-info" href="@Url.Action("Details", "Pizza", new {id = pizza.Id})"><i class="fa-solid fa-magnifying-glass"></i></a>

                                    @* autorizzazione *@
                                    @if (User.IsInRole("ADMIN"))
                                    {
                                        <a class="btn btn-warning" href="@Url.Action("Update", "Pizza", new {id = pizza.Id})"><i class="fa-solid fa-pencil"></i></a>

                                        @* Button per richiamare il modale *@
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@("#deleteModal" + pizza.Id)">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                        @* Modal *@
                                        <div class="modal fade" id="@("deleteModal" + pizza.Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content bg-dark">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete pizza</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to eliminate pizza permanently?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@pizza.Id" method="post">
                                                            @Html.AntiForgeryToken()
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>

                @if (User.IsInRole("ADMIN"))
                {
                    <div class="text-center py-3">
                        @* link per la create di pizza *@
                        <a class="btn btn-warning" href="@Url.Action("Create", "Pizza")">
                            Aggiungi nuova pizza
                        </a>
                    </div>
                }


            </div>

        </div>
    </div>
}